---
import Banner from "../../components/Banner.astro";
import Story from "../../components/Story.astro";
import Layout from "../../layouts/Layout.astro";
import logo from "/flash-image.png";
const stories = await Astro.glob("../../content/flash-fiction/*.md");
---

<Layout
  title="TC | Flash-fiction"
  theme="is-white has-shadow"
  logo="/logo_black.png"
>
  <Banner thumbnail={logo} text="Flash fiction" color="has-text-black" />

  <hr class="navbar-separator has-background-dark-light" />
  <div class="section">
    <div class="container">
      {
        stories.map((story) => {
          const { title, href, date } = story.frontmatter;
          const { Content } = story;
          const classes = {
            custom: "custom",
            mt6: "mt-6",
          };
          return (
            <Story title={title} href={href} date={date} storyClasses={classes}>
              <Content />
            </Story>
          );
        })
      }
    </div>
  </div>
</Layout>
