---
const { thumbnail, alt, description, title, href, date } = Astro.props;
---

<style>
  .custom-description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .card-hover {
    transition: transform 0.4s ease;
  }
  .card-hover:hover {
    transform: scale(1.03);
  }
  .custom-title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
</style>
<div class="card-hover card">
  <div class="card-image">
    <figure class="image is-3by2">
      <img src={thumbnail} alt={alt} style="object-fit:cover" />
    </figure>
  </div>
  <div class="card-content">
    <p class="title custom-title mb-2 is-size-5 has-text-weight-bold">
      {title}
    </p>
    <p class="custom-description">
      {description}
    </p>
  </div>
  <time
    class="is-inline-block m-1 p-2"
    style="border-radius:5px;font-size: x-small;color:#999"
    datetime={date}>{new Date(date).toDateString()}</time
  >
  <footer class="card-footer is-justify-content-center">
    <a
      href={href}
      class="card-footer-item button is-info is-light is-radiusless">view</a
    >
  </footer>
</div>
